/*-------------------------------
    Dark Theme  CSS
-------------------------------*/
.switch-theme-mode {
  position: fixed;
  top: 200px;
  right: 15px;
  z-index: 99;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.slider.round {
  border-radius: 50%;
}
.slider.round:before {
  border-radius: 50%;
}
.slider:before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: 0.4s;
  box-shadow: 0 0px 15px rgba(32, 32, 32, 0.2392156863);
  background: white url("../img/night.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #111828;
  background-size: 17px;
}

input:checked + .slider {
  background-color: transparent;
}

input:focus + .slider {
  box-shadow: 0 0 1px transparent;
}

input:checked + .slider:before {
  transform: translateX(0);
  background: white url("../img/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

/*---------------------------------
    Color CSS For Elements 
-----------------------------------*/
.theme-light .navbar-brand .logo-dark {
  display: none !important;
}
.theme-light .navbar-brand .logo-light {
  display: block !important;
}

.theme-dark .dpt-100 {
  padding-top: 100px;
}
.theme-dark .navbar-brand .logo-light {
  display: none !important;
}
.theme-dark .navbar-brand .logo-dark {
  display: block !important;
}
.theme-dark .td-cod,
.theme-dark .footer-wrap,
.theme-dark .hero-wrap.style1 .hero-slide-item .hero-img-wrap .promo-box,
.theme-dark .btn.style3,
.theme-dark .service-card.style1,
.theme-dark .service-card.style2,
.theme-dark .service-card.style3,
.theme-dark .service-card.style4,
.theme-dark .blog-card.style1,
.theme-dark .blog-card.style2,
.theme-dark .blog-card.style3,
.theme-dark .bg-blue,
.theme-dark .hero-promo-box,
.theme-dark .promo-wrap.style3:after,
.theme-dark .team-card .team-info,
.theme-dark .promo-wrap.style2::after,
.theme-dark .select-lang .navbar-language .dropdown-menu,
.theme-dark
  .appointment-wrap.style1
  .appointment-content
  .content-feature-list
  li,
.theme-dark
  .appointment-wrap.style3
  .appointment-content
  .content-feature-list
  li,
.theme-dark .bg-albastor {
  background-color: #191919 !important;
}
.theme-dark body,
.theme-dark .bg-white,
.theme-dark .header-wrap.sticky,
.theme-dark .portfolio-card.style1 .portfolio-info,
.theme-dark .portfolio-card.style2 .portfolio-info,
.theme-dark .hero-wrap.style2 .hero-appointment .hero-appointment-form,
.theme-dark .search-area {
  background-color: #000 !important;
}
.theme-dark .appointment-form {
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.theme-dark .td-aztech,
.theme-dark .contact-item,
.theme-dark .bg-athens,
.theme-dark .hero-wrap.style1,
.theme-dark .promo-card,
.theme-dark .about-doctor-box,
.theme-dark .testimonial-card,
.theme-dark .pricing-card,
.theme-dark .bg-chathamas,
.theme-dark .hero-wrap.style2,
.theme-dark .service-wrap.style2::after,
.theme-dark .about-wrap.style3 .about-img-wrap .about-promo-box,
.theme-dark .service-card.style2 .service-img .service-icon,
.theme-dark .service-card.style3 .service-img .service-icon,
.theme-dark .counter-card-wrap .counter-card.style2 .counter-icon,
.theme-dark .about-wrap.style2 .about-img-wrap .about-promo-box,
.theme-dark .wp-block-quote {
  background-color: #111828 !important;
}
.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6,
.theme-dark h3 a,
.theme-dark a,
.theme-dark .select-lang .navbar-language .dropdown-toggle::before,
.theme-dark .blog-card:hover .blog-info .blog-date,
.theme-dark .owl-carousel .owl-nav button.owl-next i,
.theme-dark .owl-carousel .owl-nav button.owl-prev i,
.theme-dark
  .about-wrap.style3
  .about-content
  .feature-item-wrap
  .feature-item
  .feature-icon
  i,
.theme-dark .header-wrap .header-top .header-top-right .social-profile li a i,
.theme-dark
  .header-wrap.style1
  .header-top
  .header-top-left
  .contact-info
  li
  span
  i,
.theme-dark
  .header-wrap.style2
  .header-top
  .header-top-left
  .contact-info
  li
  span
  i,
.theme-dark
  .header-wrap.style3
  .header-top
  .header-top-left
  .contact-info
  li
  span
  i,
.theme-dark .footer-wrap .footer-widget .social-profile li a i,
.theme-dark
  .wh-wrap.style2
  .wh-content
  .feature-item-wrap
  .feature-item
  .feature-icon
  i,
.theme-dark .btn:hover {
  color: #fff !important;
}
.theme-dark p,
.theme-dark span,
.theme-dark .checkbox label,
.theme-dark .content-feature-list li,
.theme-dark .login-form .login-body .form-group label,
.theme-dark .blog-card .blog-info .blog-metainfo li,
.theme-dark article ol li,
.theme-dark .terms-wrap ol li,
.theme-dark article p strong,
.theme-dark .terms-wrap p strong,
.theme-dark .content-feature-list li,
.theme-dark .book-appointment-form .radio-btn .form-group label,
.theme-dark article ol li,
.theme-dark .service-desc ol li,
.theme-dark .terms-wrap ol li,
.theme-dark .pricing-card .pricing-features li,
.theme-dark .post-metainfo li {
  color: rgba(255, 255, 255, 0.85) !important;
}
.theme-dark h3:hover a,
.theme-dark a:hover,
.theme-dark .copyright-text a {
  color: #2490eb !important;
}
.theme-dark .promo-card.style2 {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.theme-dark [type="radio"]:checked + label:before,
.theme-dark [type="radio"]:not(:checked) + label:before,
.theme-dark .about-wrap.style3 .about-img-wrap .about-promo-box,
.theme-dark
  .portfolio-info-widget
  .portfolio-info-item-wrap
  .portfolio-info-item,
.theme-dark
  .hero-wrap.style2
  .hero-appointment
  .hero-appointment-form
  .fg-opt-wrap,
.theme-dark article {
  border-color: rgba(255, 255, 255, 0.19);
}
.theme-dark .tag-list ul li a {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  color: #fff !important;
}
.theme-dark .hero-wrap.style6 .hero-slide-item:before {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.89) 70%,
    rgba(0, 0, 0, 0.03) 95%
  );
}
.theme-dark .service-card.style2:hover .service-img .service-icon,
.theme-dark .service-card.style3:hover .service-img .service-icon,
.theme-dark .tag-list ul li a:hover {
  background: #2490eb !important;
  color: #fff;
  border-color: transparent;
}
.theme-dark .header-wrap.style1 .header-top,
.theme-dark .header-wrap.style2 .header-top {
  background-color: #000;
}
.theme-dark .header-wrap.style1 .header-bottom,
.theme-dark .header-wrap.style2 .header-bottom {
  background-color: #191919;
}
.theme-dark .header-wrap.style1 .header-bottom .searchbtn i,
.theme-dark .header-wrap.style2 .header-bottom .searchbtn i {
  color: #fff;
}
.theme-dark .header-wrap.style3:after {
  background-color: #191919;
}
.theme-dark .header-wrap.style3 .header-bottom {
  background-color: #111828;
}
.theme-dark .header-wrap.style3 .searchbtn i {
  color: #fff;
}
.theme-dark .breadcrumb-wrap:after {
  background-color: rgba(0, 0, 0, 0.9);
}
.theme-dark .hero-wrap.style4 .hero-slide-item:after,
.theme-dark .hero-wrap.style5 .hero-slide-item:after,
.theme-dark .hero-wrap.style3::after {
  background-color: rgba(0, 0, 0, 0.8);
}
.theme-dark .header-wrap .navbar .other-options::before {
  background-color: rgba(255, 255, 255, 0.18);
}
.theme-dark .accordion-item {
  background: transparent;
}
.theme-dark .accordion-item .accordion-header .accordion-button {
  background-color: transparent;
  color: #fff;
}
.theme-dark .accordion-item .accordion-header .accordion-button span {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.theme-dark .search-area button i {
  color: #fff;
}
.theme-dark .sidebar-widget {
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.theme-dark .testimonial-card {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.theme-dark .header-wrap.style1 .navbar .navbar-nav .nav-item a:hover,
.theme-dark .header-wrap.style1 .navbar .navbar-nav .nav-item a:focus,
.theme-dark .header-wrap.style1 .navbar .navbar-nav .nav-item a.active {
  color: #2490eb !important;
}
.theme-dark .btn.style4,
.theme-dark .comment-item {
  border-color: rgba(255, 255, 255, 0.2);
}
.theme-dark .post-author,
.theme-dark #cmt-form,
.theme-dark .contact-form,
.theme-dark .post-meta-option {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.theme-dark input,
.theme-dark textarea,
.theme-dark #cmt-form .comment-form .form-group input,
.theme-dark #cmt-form .comment-form .form-group textarea,
.theme-dark #contactForm .form-group input,
.theme-dark #contactForm .form-group textarea,
.theme-dark .login-form-wrap .login-body .form-group input,
.theme-dark .newsletter-wrap .form-group input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}
.theme-dark input::-moz-placeholder,
.theme-dark textarea::-moz-placeholder,
.theme-dark #cmt-form .comment-form .form-group input::-moz-placeholder,
.theme-dark #cmt-form .comment-form .form-group textarea::-moz-placeholder,
.theme-dark #contactForm .form-group input::-moz-placeholder,
.theme-dark #contactForm .form-group textarea::-moz-placeholder,
.theme-dark .login-form-wrap .login-body .form-group input::-moz-placeholder,
.theme-dark .newsletter-wrap .form-group input::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
}
.theme-dark input::placeholder,
.theme-dark textarea::placeholder,
.theme-dark #cmt-form .comment-form .form-group input::placeholder,
.theme-dark #cmt-form .comment-form .form-group textarea::placeholder,
.theme-dark #contactForm .form-group input::placeholder,
.theme-dark #contactForm .form-group textarea::placeholder,
.theme-dark .login-form-wrap .login-body .form-group input::placeholder,
.theme-dark .newsletter-wrap .form-group input::placeholder {
  color: #fff;
  opacity: 0.7;
}
.theme-dark .appointment-form .form-group select {
  background-image: url(../img/down-arrow-white.png);
}
.theme-dark .partner-item img {
  filter: brightness(0) invert(1);
}
.theme-dark
  .header-wrap.style1
  .header-top
  .header-top-left
  .contact-info
  li
  span,
.theme-dark
  .header-wrap.style2
  .header-top
  .header-top-left
  .contact-info
  li
  span,
.theme-dark
  .header-wrap.style3
  .header-top
  .header-top-left
  .contact-info
  li
  span,
.theme-dark .header-wrap .header-top .header-top-right .social-profile li a,
.theme-dark
  .wh-wrap.style2
  .wh-content
  .feature-item-wrap
  .feature-item
  .feature-icon,
.theme-dark
  .about-wrap.style3
  .about-content
  .feature-item-wrap
  .feature-item
  .feature-icon,
.theme-dark .footer-wrap .footer-widget .social-profile li a,
.theme-dark .owl-carousel .owl-nav button.owl-prev,
.theme-dark .owl-carousel .owl-nav button.owl-next,
.theme-dark .social-profile.style1 li a,
.theme-dark
  .appointment-wrap.style2
  .appointment-content
  .content-feature-list
  li,
.theme-dark .page-nav li a {
  border: 1px solid rgba(255, 255, 255, 0.28);
  background-color: transparent;
  color: #fff;
}
.theme-dark
  .header-wrap.style1
  .header-top
  .header-top-left
  .contact-info
  li
  span:hover,
.theme-dark
  .header-wrap.style2
  .header-top
  .header-top-left
  .contact-info
  li
  span:hover,
.theme-dark
  .header-wrap.style3
  .header-top
  .header-top-left
  .contact-info
  li
  span:hover,
.theme-dark
  .header-wrap
  .header-top
  .header-top-right
  .social-profile
  li
  a:hover,
.theme-dark
  .wh-wrap.style2
  .wh-content
  .feature-item-wrap
  .feature-item
  .feature-icon:hover,
.theme-dark
  .about-wrap.style3
  .about-content
  .feature-item-wrap
  .feature-item
  .feature-icon:hover,
.theme-dark .footer-wrap .footer-widget .social-profile li a:hover,
.theme-dark .owl-carousel .owl-nav button.owl-prev:hover,
.theme-dark .owl-carousel .owl-nav button.owl-next:hover,
.theme-dark .social-profile.style1 li a:hover,
.theme-dark
  .appointment-wrap.style2
  .appointment-content
  .content-feature-list
  li:hover,
.theme-dark .page-nav li a:hover {
  background-color: #2490eb;
  color: #fff !important;
}
.theme-dark .login-form-wrap .login-form .form-group input,
.theme-dark .contact-widget .form-group input,
.theme-dark .contact-widget .form-group textarea,
.theme-dark .book-appointment-form .form-group input,
.theme-dark .book-appointment-form .form-group textarea,
.theme-dark .book-appointment-form .form-group select,
.theme-dark .search-box .form-group input,
.theme-dark .appointment-form .form-group input,
.theme-dark .appointment-form .form-group select {
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}
.theme-dark .login-form-wrap .login-form .form-group input::-moz-placeholder,
.theme-dark .contact-widget .form-group input::-moz-placeholder,
.theme-dark .contact-widget .form-group textarea::-moz-placeholder,
.theme-dark .book-appointment-form .form-group input::-moz-placeholder,
.theme-dark .book-appointment-form .form-group textarea::-moz-placeholder,
.theme-dark .book-appointment-form .form-group select::-moz-placeholder,
.theme-dark .search-box .form-group input::-moz-placeholder,
.theme-dark .appointment-form .form-group input::-moz-placeholder,
.theme-dark .appointment-form .form-group select::-moz-placeholder {
  color: #fff;
}
.theme-dark .login-form-wrap .login-form .form-group input::placeholder,
.theme-dark .contact-widget .form-group input::placeholder,
.theme-dark .contact-widget .form-group textarea::placeholder,
.theme-dark .book-appointment-form .form-group input::placeholder,
.theme-dark .book-appointment-form .form-group textarea::placeholder,
.theme-dark .book-appointment-form .form-group select::placeholder,
.theme-dark .search-box .form-group input::placeholder,
.theme-dark .appointment-form .form-group input::placeholder,
.theme-dark .appointment-form .form-group select::placeholder {
  color: #fff;
}
.theme-dark .login-form-wrap,
.theme-dark .book-appointment-form {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 991px) {
  .theme-dark .main-menu-wrap,
  .theme-dark .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu {
    background-color: #111828;
  }
  .theme-dark .menu-close i,
  .theme-dark .header-wrap .navbar .navbar-nav .nav-item .menu-expand i {
    color: #fff !important;
  }
  .theme-dark .header-wrap .navbar .navbar-nav .nav-item a.active,
  .theme-dark .main-menu li a.active {
    color: #2490eb !important;
  }
  .theme-dark .main-menu li a.active,
  .theme-dark .main-menu li a {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .theme-dark
    .header-wrap.style2
    .navbar
    .navbar-nav
    .nav-item
    .dropdown-menu
    li,
  .theme-dark .header-wrap .navbar .navbar-nav .nav-item a {
    border-color: rgba(255, 255, 255, 0.2);
  }
}
@media only screen and (min-width: 992px) {
  .theme-dark .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu,
  .theme-dark .main-menu-wrap #menu ul li.has-children .sub-menu {
    background-color: #111828;
  }
  .theme-dark .header-wrap .navbar .navbar-nav .nav-item a:hover,
  .theme-dark .header-wrap .navbar .navbar-nav .nav-item a:focus,
  .theme-dark .header-wrap .navbar .navbar-nav .nav-item a.active {
    color: #2490eb !important;
  }
  .theme-dark
    .header-wrap.style2
    .navbar
    .navbar-nav
    .nav-item
    .dropdown-menu
    li {
    border-color: rgba(255, 255, 255, 0.15);
  }
} /*# sourceMappingURL=dark-theme.css.map */
